In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [1]:
stocks = [
    ('Google', 'GOOGL', 'USA', 2984, 'USD'), 
    ('Netflix', 'NFLX', 'USA', 645, 'USD'),
    ('Amazon', 'AMZN', 'USA', 3518, 'USD'),
    ('Tesla', 'TSLA', 'USA', 1222, 'USD'),
    ('Tencent', '0700', 'Hong Kong', 483, 'HKD'),
    ('Toyota', '7203', 'Japan', 2006, 'JPY'),
    ('Samsung', '005930', 'Korea', 70600, 'KRW'),
    ('Kakao', '035720', 'Korea', 125000, 'KRW'),
]
stockSchema = ["name", "ticker", "country", "price", "currency"]
df = spark.createDataFrame(data=stocks, schema=stockSchema)

In [2]:
df.show()

+-------+------+---------+------+--------+
|   name|ticker|  country| price|currency|
+-------+------+---------+------+--------+
| Google| GOOGL|      USA|  2984|     USD|
|Netflix|  NFLX|      USA|   645|     USD|
| Amazon|  AMZN|      USA|  3518|     USD|
|  Tesla|  TSLA|      USA|  1222|     USD|
|Tencent|  0700|Hong Kong|   483|     HKD|
| Toyota|  7203|    Japan|  2006|     JPY|
|Samsung|005930|    Korea| 70600|     KRW|
|  Kakao|035720|    Korea|125000|     KRW|
+-------+------+---------+------+--------+

### DF메소드와 spark sql 두 방법으로 문제풀기
- view는 stockV 로 생성

In [ ]:
# 1. df에서 name, ticker를 추출하시오

In [5]:
df.select('name','ticker').show()

[Stage 3:>                                                          (0 + 1) / 1]

+-------+------+
|   name|ticker|
+-------+------+
| Google| GOOGL|
|Netflix|  NFLX|
| Amazon|  AMZN|
|  Tesla|  TSLA|
|Tencent|  0700|
| Toyota|  7203|
|Samsung|005930|
|  Kakao|035720|
+-------+------+

In [ ]:
# 2. df를 stocks 라는 view로 생성하시오 -> stockV로 생성

In [12]:
df.createOrReplaceTempView('stockV')
spark.sql('''
    select name, ticker from stockV
''').show()

+-------+------+
|   name|ticker|
+-------+------+
| Google| GOOGL|
|Netflix|  NFLX|
| Amazon|  AMZN|
|  Tesla|  TSLA|
|Tencent|  0700|
| Toyota|  7203|
|Samsung|005930|
|  Kakao|035720|
+-------+------+

In [ ]:
# 3. view stocks를 사용하여 stocks view의 모든 컬럼을 추출하시오

In [14]:
df.select('*').show()
spark.sql('''
    select * from stockV
''').show()

+-------+------+---------+------+--------+
|   name|ticker|  country| price|currency|
+-------+------+---------+------+--------+
| Google| GOOGL|      USA|  2984|     USD|
|Netflix|  NFLX|      USA|   645|     USD|
| Amazon|  AMZN|      USA|  3518|     USD|
|  Tesla|  TSLA|      USA|  1222|     USD|
|Tencent|  0700|Hong Kong|   483|     HKD|
| Toyota|  7203|    Japan|  2006|     JPY|
|Samsung|005930|    Korea| 70600|     KRW|
|  Kakao|035720|    Korea|125000|     KRW|
+-------+------+---------+------+--------+

+-------+------+---------+------+--------+
|   name|ticker|  country| price|currency|
+-------+------+---------+------+--------+
| Google| GOOGL|      USA|  2984|     USD|
|Netflix|  NFLX|      USA|   645|     USD|
| Amazon|  AMZN|      USA|  3518|     USD|
|  Tesla|  TSLA|      USA|  1222|     USD|
|Tencent|  0700|Hong Kong|   483|     HKD|
| Toyota|  7203|    Japan|  2006|     JPY|
|Samsung|005930|    Korea| 70600|     KRW|
|  Kakao|035720|    Korea|125000|     KRW|
+-------+------+---------+------+--------+

In [ ]:
# 4. stocks view에서 country가 Korea인 data만 추출하시오

In [ ]:
# 5. df에서 country가 Korea인 data를 추출하시오

In [28]:
spark.sql('''
    select * from stockV
    where country = 'Korea'
''').show()

df.select('*')\
    .where(col('country') == 'Korea').show()

df.select('*').filter(df.country == 'Korea').show()

+-------+------+-------+------+--------+
|   name|ticker|country| price|currency|
+-------+------+-------+------+--------+
|Samsung|005930|  Korea| 70600|     KRW|
|  Kakao|035720|  Korea|125000|     KRW|
+-------+------+-------+------+--------+

+-------+------+-------+------+--------+
|   name|ticker|country| price|currency|
+-------+------+-------+------+--------+
|Samsung|005930|  Korea| 70600|     KRW|
|  Kakao|035720|  Korea|125000|     KRW|
+-------+------+-------+------+--------+

+-------+------+-------+------+--------+
|   name|ticker|country| price|currency|
+-------+------+-------+------+--------+
|Samsung|005930|  Korea| 70600|     KRW|
|  Kakao|035720|  Korea|125000|     KRW|
+-------+------+-------+------+--------+

In [ ]:
# 6. stocks view에서 price 갸 2000 초과하고 country가  USA인 데이터의 name과 price를 출력하시오

In [49]:
# 7. df에서 price 가 2000 초과하고 country가  USA인 데이터의 name과 price를 출력하시오

In [32]:
spark.sql('''
    select name, price from stockV
    where price > 2000 and country = 'USA'
''').show()

df.select('name', 'price')\
    .where((df.price > 2000) & (df.country == 'USA')).show()
# select['name','price']

+------+-----+
|  name|price|
+------+-----+
|Google| 2984|
|Amazon| 3518|
+------+-----+

+------+-----+
|  name|price|
+------+-----+
|Google| 2984|
|Amazon| 3518|
+------+-----+

In [ ]:
# 8. sotocks view에서 country가 U로 시작하는 데이터의 name과 price를 추출하시오

In [ ]:
# 9. df에서 country가 U로 시작하는 데이터의 name과 price를 추출하시오

In [52]:
spark.sql('''
    select name, price from stockV
    where country like('U%')
''').show()

df.select('name','price')\
    .where(df.country.like('U%')).show()

df.filter(df.country.startswith('U'))\
            .select('name','price').show()

+-------+-----+
|   name|price|
+-------+-----+
| Google| 2984|
|Netflix|  645|
| Amazon| 3518|
|  Tesla| 1222|
+-------+-----+

+-------+-----+
|   name|price|
+-------+-----+
| Google| 2984|
|Netflix|  645|
| Amazon| 3518|
|  Tesla| 1222|
+-------+-----+

+-------+-----+
|   name|price|
+-------+-----+
| Google| 2984|
|Netflix|  645|
| Amazon| 3518|
|  Tesla| 1222|
+-------+-----+

In [ ]:
# 10. stocks view에서 countr가 'U'로 시작하고 이름에 'e'가 포함되지 않은 데이터의 name과 price를 추출하시오.

In [ ]:
# 11. df에서 countr가 'U'로 시작하고 이름에 'e'가 포함되지 않은 데이터의 name과 price를 추출하시오.

In [54]:
spark.sql('''
    select name, price from stockV
    where country like 'U%' and not name like '%e%'
''').show()


df.select('name','price')\
    .where((df.country.like('U%')) & (~df.name.like('%e%'))).show()

+------+-----+
|  name|price|
+------+-----+
|Amazon| 3518|
+------+-----+

+------+-----+
|  name|price|
+------+-----+
|Amazon| 3518|
+------+-----+

In [ ]:
# 12. stocks view에서 price가 1000~10000인 데이터를 추출하시오

In [48]:
spark.sql('''
    select * from stockV
    where price between 1000 and 10000 
''').show()

df.select('*')\
    .where(col('price').between(1000, 10000))\
    .show()

+------+------+-------+-----+--------+
|  name|ticker|country|price|currency|
+------+------+-------+-----+--------+
|Google| GOOGL|    USA| 2984|     USD|
|Amazon|  AMZN|    USA| 3518|     USD|
| Tesla|  TSLA|    USA| 1222|     USD|
|Toyota|  7203|  Japan| 2006|     JPY|
+------+------+-------+-----+--------+

+------+------+-------+-----+--------+
|  name|ticker|country|price|currency|
+------+------+-------+-----+--------+
|Google| GOOGL|    USA| 2984|     USD|
|Amazon|  AMZN|    USA| 3518|     USD|
| Tesla|  TSLA|    USA| 1222|     USD|
|Toyota|  7203|  Japan| 2006|     JPY|
+------+------+-------+-----+--------+