In [1]:
!pip install hdfs
# ref : https://hdfscli.readthedocs.io/en/latest/quickstart.html#python-bindings

Collecting hdfs
  Downloading hdfs-2.7.3.tar.gz (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.5/43.5 KB 6.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting docopt
  Downloading docopt-0.6.2.tar.gz (25 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.10/dist-packages (from hdfs) (2.32.3)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from hdfs) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->hdfs) (3.4.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->hdfs) (2024.12.14)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->hdfs) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->hdfs) (2.3.0)
Building wheels for collected packages: hdfs, docopt
  Building wheel for hdfs (setup.py) ... done
  Created wheel for hdfs: filename=hdfs-2.7.3-py3-none-any.whl size=34347 sha256=0bf18877a9b2265c9ccf4d570f5efba8243f7b40aac330d43a6cb5199096778c
  Stored in directory: /root/.cache/pip/wheels/e5/8d/b6/99c1c0a3ac5788c866b0ecd3f48b0134a5910e6ed26011800b
  Building wheel for docopt (setup.py) ... done
  Created wheel for docopt: filename=docopt-0.6.2-py2.py3-none-any.whl size=13723 sha256=8fe7347d523ce5daee37764c7e05eadb5399c692753827ffbc1d014721d00805
  Stored in directory: /root/.cache/pip/wheels/fc/ab/d4/5da2067ac95b36618c629a5f93f809425700506f72c9732fac
Successfully built hdfs docopt
Installing collected packages: docopt, hdfs
Successfully installed docopt-0.6.2 hdfs-2.7.3
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
from hdfs import InsecureClient # hdfs 연결 담당 모듈 - 클라이언트 프로그램 구성 시 
import requests # api 요청시 사용
import json # api다운받은 data와 vaccine data json 처리시 사용
import datetime as dt # 날짜 시간관련 기능을 제공하는 클래스

## hdfs 사용 클라이언트 객체 생성
- hdfs 연결 담당
- read/write/append/update 등과 관련된 모듈 포함하고 있음
- InsecureClient(연결주소, user=사용자)
- 파일읽기
    - InsecureClient.read(파일명(파일경로 포함))
        - 해당 파일을 읽을 수 있는 reader 객체를 반환
    - InsecureClient.write(저장될파일명(파일경로 포함))
        - 해당 파일에 쓸 수 있는 writer 객체를 반환
    - InsecureClient.write(저장될파일명(파일경로 포함),'추가될 내용',append=True)
        - 기존파일에 추가될내용을 append(파일 끝에 쓰기)        
    - InsecureClient.upload(hdfs에 복사될 폴더명(경로포함), 원본 폴더명(경로포함))
        - 지정된 원본 폴더 파일을 저장할 hsdf 폴더에 복사
        - 폴더를 생성하고 시작 : 기존에 동일 이름의 폴더가 있으면 에러발생함

In [4]:
client = InsecureClient('http://localhost:9870', user='root')

## hdfs로 부터 읽기

- 파일 읽어올때
    - 파일과 연결(open)
    - 파일읽기
    - 파일 연결 끊기(close) : 개발자가 close해야 자원 정리가 됨
        - with문 사용하면 자동 open ~ close를 진행함
        -

In [5]:
# 파일 읽기위한 reader 객체 생성 후 진행
with client.read('/rdd/score.txt') as reader :
    score = reader.read()

In [6]:
# byte code 읽어옴
score

b'\xea\xb9\x80\xec\xb2\xa0\xec\x88\x98 \xec\x8a\xa4\xed\x8c\x8c\xed\x81\xac 50\r\n\xed\x99\x8d\xea\xb8\xb8\xeb\x8f\x99 \xec\x8a\xa4\xed\x8c\x8c\xed\x81\xac 80\r\n\xec\x9e\x84\xea\xba\xbd\xec\xa0\x95 \xec\x8a\xa4\xed\x8c\x8c\xed\x81\xac 60\r\n\xec\x9e\x84\xec\x9a\x94\xed\x99\x98 \xed\x85\x90\xec\x84\x9c\xed\x94\x8c\xeb\xa1\x9c\xec\x9a\xb0 100\r\n\xed\x99\x8d\xec\xa7\x84\xed\x98\xb8 \xed\x85\x90\xec\x84\x9c\xed\x94\x8c\xeb\xa1\x9c\xec\x9a\xb0 22\r\n\xed\x99\x8d\xec\xa7\x84\xed\x98\xb8 \xed\x85\x90\xec\x84\x9c\xed\x94\x8c\xeb\xa1\x9c\xec\x9a\xb0 22\r\n\xec\x9d\xb4\xec\x9c\xa4\xec\x97\xb4 \xed\x85\x90\xec\x84\x9c\xed\x94\x8c\xeb\xa1\x9c\xec\x9a\xb0 90\r\n'

In [7]:
# https://docs.python.org/ko/3/library/stdtypes.html#bytes-and-bytearray-operations
# byte code decode해서 저장 후 확인
# bytes.decode(data)
score_data = bytes.decode(score)
print(score_data)

김철수 스파크 50
홍길동 스파크 80
임꺽정 스파크 60
임요환 텐서플로우 100
홍진호 텐서플로우 22
홍진호 텐서플로우 22
이윤열 텐서플로우 90

## hdfs에 쓰기

In [8]:
# 파일쓰기
# hdd(note 디렉터리)에 있는 data(file)를 hdfs로 복사
# 1. 로컬데이터 파일 열기 : open() python method 사용, width 등록
# 2. hdfs client 통해서 쓰기 객체 with 등록
# 3. open 객체 이용해서 한줄씩 읽어서 -> hdfs에 쓰기
# 현재 위치 : /root/note
# 복사할 sido_area.csv 윈도우 10 버전에서 생성, encoding type 'CP949'
with open('data/corona_data/sido_area.csv', encoding='CP949') as reader, client.write('/corona_data/sido_area_tmp.csv') as writer :
    for line in reader : # 읽어와서
        writer.write(line.encode('CP949')) # 원래 encoding 방식 유지 시켜야 함, 바로쓰기

In [9]:
# 폴더 전송 : 폴더내에있는 파일을 hdfs 특정 디렉터리 모두 복사
# 해당 모듈은 디렉터리와 파일부터 생성하고 쓰기 진행
# 프로그램으로 파일 한줄씩 읽어와서 바로 hdfs 파일에 쓰기
# client.upload(dest, source)
client.upload('/corona_data/tmp', 'data/corona_data')

'/corona_data/tmp'

## hdfs 파일 수정하기
- data 추가이므로 data 형식과 encoding 방식은 기존 파일과 동일하게 구성

In [10]:
client.write('/rdd/score.txt','최연성 장고 100'.encode('UTF-8'), append=True)

In [11]:
# 수정된 파일 읽어와서 확인
# reader = client.read('/rdd/score.txt')와 같은 동작이므로 reader는 객체 변수
with client.read('/rdd/score.txt') as reader :
    score = reader.read()
score_data = bytes.decode(score)
print(score_data)

김철수 스파크 50
홍길동 스파크 80
임꺽정 스파크 60
임요환 텐서플로우 100
홍진호 텐서플로우 22
홍진호 텐서플로우 22
이윤열 텐서플로우 90
최연성 장고 100

## hdfs 파일 권한 수정
- 리눅스 명령어(chmod)
- InsecureClient클래스의 set_permission('권한변경할파일(폴더도 파일임)','권한문자')
    - 권한문자 : 10진수 권한
    - ex. 777 : rwxrwxrwx -> 모든 user가 읽기/쓰기/실행 권한을 갖는다
    - tip. 777 권한은 temp 폴더 등이 갖는 권한이고 공격 대상이 될수 있는 권한(부여시 주의해야 함)

In [12]:
client.set_permission('/corona_data/tmp','777')

## hdfs 파일 삭제
- InsecureClient클래스의 delete('삭제할파일(경로 포함)')
    - 삭제가 정상적으로 진행되면 True 반환
    - False 반환인 경우 대부분 파일명 문제임

In [13]:
client.delete('/corona_data/tmp/sido_area.xlsx')

True

############################################################

## 실습 DataPipeline
- DataWarehouse Extract
    - 현재 실행중인 ubuntu server의 HDD -> Hadoop FS로 변경된 공간
        - hadoop설치 : hdfs 구성
    - Extract 과정 거쳐서 hdfs에 data 저장
        1. corona 발생현황(일간데이터) : api 수집(json형식)
        2. corona vaccine 접종현황(일간데이터) : 파일데이터에서 특정일에 대한 데이터 json형식으로 변환 수집
        3. 인구 사회 데이터 : 파일데이터(변환없이 사용)
- Transformation
    -  HDFS에서 데이터 load와서 spark 모듈이용 transformation 진행
        -  DaraWarehouse의 데이터보다 정형화된 데이터로 trans
- DataMart Load
    - transformation 진행된 data를 MySql db에 저장(적재)
- Transformation
    -  DM에서 데이터 load해와서 spark 모듈이용 transformation 진행
        -  DM의 데이터보다 정형화되고 논리적 의미를 포함하는 데이터로 trans
- 운영DB Load
    - transformation 진행된 data를 MySql db에 저장(적재)
    - 운영DB에 적재되는 데이터는 서비스와 연결됨
    - 정형화되고 논리적의미를 포함해야 함

### REST_API로 데이터를 호출해 HDFS에 저장

#### API 데이터 수집 과정
1. 데이터신청
2. site에서 데이터 수집을 위한 url을 알아와야 함
3. site에서 가이드하고 있는 방식(get/post)으로 데이터 요청 진행
    - header와 params를 요구하게됨
        -  생성해서 요청시마다 사용
        -  params에 service key를 포함시켜서 구성
5. 요청된 데이터가 프로그램 변수에 저장되면 이 data를 정리해서 저장\
6. executeRestApi() 요청하고 데이터받아 변수저장 함수를 호출한 곳에 데이터 반환(json형태의 text객체를 반환)

In [14]:
# 데이터요청에 필요한 함수 인수를 받아서
# 데이터 요청하고 전송된 데이터를 반환하는 함수
# 데이터 요청이 실패했을 경우 예외 발생시킴 
# log를 구성해서 예외발생 시 log에 기록되도록 진행
def executeRestApi(method, url, headers, params):  
    # params, headers는 dict로 구성되어야 함
    # raise Exception('응답코드 : 500')  # 예외 테스트
    # err_num = 10/0 # 예외 테스트
    if method == "get": # header가 필요없음 - 파라미터로 사용해야 된다면 보통 {} 빈디렉터리가 전달됨
        res = requests.get(url, params=params, headers=headers)
    else: # post 요청 : header 필요, header는 {}로 구성되어야 함
        res = requests.post(url, data=params, headers=headers)

    if res == None or res.status_code != 200:
        raise Exception('응답코드 : ' + str(res.status_code))
       
    return res.text

### 기준일자 생성 함수
- 요청 data의 기준이 되는 yyyy-mm-dd 형식의 날짜형태 문자열을 생성하는 함수
- 현시점으로부터 며칠전 data인지에 대한 기준으로 날짜 생성
- ex. 어제 data : 오늘부터 1일전
- ex. 1년전 data : 오늘부터 365일전
- ex. 오늘 : 오늘부터 0일전
- ex. 내일 : 오늘부터 -1일전 (이후의 개념)

In [20]:
dt.datetime.now() - dt.timedelta(365)
d = dt.datetime.now()
type(d.month)

datetime.datetime(2024, 1, 18, 4, 40, 35, 918965)

int

In [21]:
# 오늘부터 얼마나 이전 날짜인지
def cal_std_day(befor_day):
    x = dt.datetime.now() - dt.timedelta(befor_day)
    year = x.year
    month = x.month if x.month >= 10 else '0'+ str(x.month)
    day = x.day if x.day >= 10 else '0' + str(x.day)
    return str(year) + '-' + str(month) + '-' + str(day)

In [26]:
cal_std_day(365*3)
cal_std_day(0)
cal_std_day(-1)

'2022-01-18'

'2025-01-17'

'2025-01-18'

## log 기록

#### logger 
- log 기록하는 프로그램
- log  : 프로그램을 실행하면서 나타나는 일련의 사건(error, event등 물리적으로 발생하는 내용이나 네트워크 송수신중 발생하는 많은 내용)
- 파이썬 패키지 : logging

- log는 외부연결시 오류 관련 확인 위해서 사용자 정의를 기록 해야함
- respAPI는 외부 서버 : log 기록
- 사용자 정의 log 생성
    1. 로그 저장할 dir 필요
    2. 로그 관련 패키지 import
    3. 모듈 활용 객체 logger 생성 (logging.getLogger('로거이름'))
    4. 로그파일 핸들러 생성 (logging.FileHandler('로그파일명.log'))
    5. 로그파일 핸들러 로거에 추가(로거와 로그파일 연결) : logger.addHandler(로그파일핸들러 객체명)

In [27]:
import logging # 로그관련 패키지

In [29]:
co_logger = logging.getLogger('corona_api')
f_handler = logging.FileHandler('./log/rest_api/'+cal_std_day(0)+'.log')
co_logger.addHandler(f_handler)

In [30]:
# 이렇게 문자열로 찍을 수도 있음
# json양식으로 log를 저장하면 다음에 읽어와서 처리하기도 편하다.
# 강제 error 발생시켜서 log에 기록 text
co_logger.error('corona_patient_'+cal_std_day(0)+'.json 다운로드 실패')
# 발생된 에러의 log는 /root/note/log/rest_api/ 디렉터리내 log 파일에서 확인해야 함

### api 호출

In [46]:
# base var 생성
url = 'http://apis.data.go.kr/1352000/ODMS_COVID_04/callCovid04Api'
service_key = 'azOlzHmE12kpPv/6L9CM1ylcu+fqgba5RR/xip8K1OQuncWE3OGzAW5hiE2oKb6fbaMFwkSf8YGy1sytUI5feA=='
# 요청해 응답받은 rest_api data를 hdfs에 저장할 dir
file_dir = '/corona_data/patient/'

- 기본함수
    - executerRestApi(method, url, headers, params)
    - params는 여러 data를 설정해야 함
        - 파라미터 생성 함수 : create_param(std_day)
            - std_day : 날짜가 아닌 오늘부터 얼마나 이전 데이터를 요청할것인에 대한 수치

In [31]:
def create_param(std_day) :
    return {'serviceKey':service_key
        ,'pageNo':1
        ,'numOfRows':'500'
        ,'apiType':'JSON'
        ,'std_day':cal_std_day(std_day)}

In [35]:
create_param(365*3)

{'serviceKey': 'azOlzHmE12kpPv%2F6L9CM1ylcu%2Bfqgba5RR%2Fxip8K1OQuncWE3OGzAW5hiE2oKb6fbaMFwkSf8YGy1sytUI5feA%3D%3D',
 'pageNo': 1,
 'numOfRows': '500',
 'apiType': 'JSON',
 'std_day': '2022-01-18'}

In [57]:
params = create_param(365*3)
#log기록 할 내용 결정(개발자가 결정)
log_dict={
    "is_success":"Fail"
    ,"type":"corona_patient"
    ,"std_day":params['std_day']
    ,"params":params
}

- 날짜별 발생현황 파일 요청
    - 해당파일에 날짜를 파일명에 포함시켜서
    - 정리없이 hdfs 저장

In [52]:
# 요청해서 json 응답받고 hdfs에 저장 - 날짜별로 파일명 구분
try : 
    res=executeRestApi('get',url,{},params) # api에 data 요청후 결과 응답
    file_name='corona_patient_'+cal_std_day(365*3)+'.json' # hdfs에 저장할 파일명 생성
    client.write(file_dir+file_name,res,encoding='utf-8') # hdfs에 저장
except Exception as e: # 일반 python 예외
    log_dict['err_msg']= e.__str__()
    log_json = json.dumps(log_dict, ensure_ascii=False) #log json 형태로 기록
    co_logger.error(log_json) #logger가 발생시키는 에러 - log 기록을 위함  
# print(res)

In [64]:
print(res)

{"pageNo":"1","resultCode":"00","totalCount":19,"items":[{"gubunEn":"Total","deathCnt":"6210","defCnt":"679030","isolClearCnt":"575763","stdDay":"2022-01-13","localOccCnt":"3776","qurRate":"1315","overFlowCnt":"391","gubunCn":"合计","incDec":"4167","isolIngCnt":"0","gubun":"합계"},{"gubunEn":"Gwangju","deathCnt":"54","defCnt":"9436","isolClearCnt":"8221","stdDay":"2022-01-13","localOccCnt":"182","qurRate":"655","overFlowCnt":"6","gubunCn":"光州","incDec":"188","isolIngCnt":"0","gubun":"광주"},{"gubunEn":"Daegu","deathCnt":"382","defCnt":"24436","isolClearCnt":"22883","stdDay":"2022-01-13","localOccCnt":"119","qurRate":"1024","overFlowCnt":"6","gubunCn":"大邱","incDec":"125","isolIngCnt":"0","gubun":"대구"},{"gubunEn":"Gangwon-do","deathCnt":"110","defCnt":"13368","isolClearCnt":"12342","stdDay":"2022-01-13","localOccCnt":"82","qurRate":"869","overFlowCnt":"7","gubunCn":"江原","incDec":"89","isolIngCnt":"0","gubun":"강원"},{"gubunEn":"Jeollanam-do","deathCnt":"44","defCnt":"7174","isolClearCnt":"5884","stdDay":"2022-01-13","localOccCnt":"133","qurRate":"391","overFlowCnt":"3","gubunCn":"全南","incDec":"136","isolIngCnt":"0","gubun":"전남"},{"gubunEn":"Sejong","deathCnt":"4","defCnt":"2315","isolClearCnt":"2172","stdDay":"2022-01-13","localOccCnt":"6","qurRate":"622","overFlowCnt":"1","gubunCn":"世宗","incDec":"7","isolIngCnt":"0","gubun":"세종"},{"gubunEn":"Incheon","deathCnt":"315","defCnt":"39456","isolClearCnt":"34847","stdDay":"2022-01-13","localOccCnt":"224","qurRate":"1338","overFlowCnt":"16","gubunCn":"仁川","incDec":"240","isolIngCnt":"0","gubun":"인천"},{"gubunEn":"Daejeon","deathCnt":"181","defCnt":"12899","isolClearCnt":"11636","stdDay":"2022-01-13","localOccCnt":"63","qurRate":"888","overFlowCnt":"5","gubunCn":"大田","incDec":"68","isolIngCnt":"0","gubun":"대전"},{"gubunEn":"Gyeongsangbuk-do","deathCnt":"186","defCnt":"16433","isolClearCnt":"14975","stdDay":"2022-01-13","localOccCnt":"92","qurRate":"626","overFlowCnt":"7","gubunCn":"庆北","incDec":"99","isolIngCnt":"0","gubun":"경북"},{"gubunEn":"Gyeongsangnam-do","deathCnt":"112","defCnt":"22152","isolClearCnt":"20757","stdDay":"2022-01-13","localOccCnt":"94","qurRate":"668","overFlowCnt":"21","gubunCn":"庆南","incDec":"115","isolIngCnt":"0","gubun":"경남"},{"gubunEn":"Busan","deathCnt":"329","defCnt":"27456","isolClearCnt":"24812","stdDay":"2022-01-13","localOccCnt":"156","qurRate":"819","overFlowCnt":"6","gubunCn":"釜山","incDec":"162","isolIngCnt":"0","gubun":"부산"},{"gubunEn":"Jeju","deathCnt":"13","defCnt":"4858","isolClearCnt":"4687","stdDay":"2022-01-13","localOccCnt":"7","qurRate":"718","overFlowCnt":"0","gubunCn":"济州","incDec":"7","isolIngCnt":"0","gubun":"제주"},{"gubunEn":"Chungcheongnam-do","deathCnt":"165","defCnt":"19553","isolClearCnt":"17151","stdDay":"2022-01-13","localOccCnt":"126","qurRate":"923","overFlowCnt":"5","gubunCn":"忠南","incDec":"131","isolIngCnt":"0","gubun":"충남"},{"gubunEn":"Lazaretto","deathCnt":"16","defCnt":"7503","isolClearCnt":"6595","stdDay":"2022-01-13","localOccCnt":"0","qurRate":"-","overFlowCnt":"93","gubunCn":"隔離區","incDec":"93","isolIngCnt":"0","gubun":"검역"},{"gubunEn":"Seoul","deathCnt":"2009","defCnt":"239014","isolClearCnt":"194346","stdDay":"2022-01-13","localOccCnt":"858","qurRate":"2513","overFlowCnt":"120","gubunCn":"首尔","incDec":"978","isolIngCnt":"0","gubun":"서울"},{"gubunEn":"Chungcheongbuk-do","deathCnt":"120","defCnt":"12263","isolClearCnt":"11491","stdDay":"2022-01-13","localOccCnt":"58","qurRate":"768","overFlowCnt":"3","gubunCn":"忠北","incDec":"61","isolIngCnt":"0","gubun":"충북"},{"gubunEn":"Jeollabuk-do","deathCnt":"120","defCnt":"10623","isolClearCnt":"9632","stdDay":"2022-01-13","localOccCnt":"106","qurRate":"595","overFlowCnt":"0","gubunCn":"全北","incDec":"106","isolIngCnt":"0","gubun":"전북"},{"gubunEn":"Ulsan","deathCnt":"65","defCnt":"7329","isolClearCnt":"6928","stdDay":"2022-01-13","localOccCnt":"26","qurRate":"653","overFlowCnt":"1","gubunCn":"蔚山","incDec":"27","isolIngCnt":"0","gubun":"울산"},{"gubunEn":"Gyeonggi-do","deathCnt":"1985","defCnt":"202762","isolClearCnt":"166404","stdDay":"2022-01-13","localOccCnt":"1444","qurRate":"1495","overFlowCnt":"91","gubunCn":"京畿","incDec":"1535","isolIngCnt":"0","gubun":"경기"}],"numOfRows":"500","resultMsg":"NORMAL SERVICE"}

In [54]:
cal_std_day(365*3)
cal_std_day(367*3)

'2022-01-18'

'2022-01-12'

In [59]:
# ETL 연습용 data hdfs에 저장
for i in range(365*3, 367*3) :
    params = create_param(i)
    print(params['std_day'])
    try : 
        res=executeRestApi('get',url,{},params)
        file_name='corona_patient_'+cal_std_day(i)+'.json'
        client.write(file_dir+file_name,res,encoding='utf-8') 
    except Exception as e:
        log_dict['err_msg']= e.__str__()
        log_json = json.dumps(log_dict, ensure_ascii=False) 
        co_logger.error(log_json)

2022-01-18
2022-01-17
2022-01-16
2022-01-15
2022-01-14
2022-01-13

- 2022-01-13 ~ 2022-01-18 코로나 발생현황 data hdfs에 저장
- Json 형식으로 저장

## corona_vaccine 접종현황 data
- 파일로 제공
- 파일 data 읽어서 Json 형식으로 변경한 후에 hdfs에 저장
- 필요 data 추출 후 정리 형식 변환

In [60]:
import pandas as pd

In [75]:
# 광역 시도별 인구 data
pop = pd.read_csv('data/corona_data/sido_population.csv',encoding='CP949')
pop.index
pop.head()

RangeIndex(start=0, stop=18, step=1)

  loc     total      male    female
0  전국  52739009  26360035  26378974
1  서울   9736027   4721977   5014050
2  부산   3396109   1663619   1732490
3  대구   2412642   1189901   1222741
4  인천   3014739   1513277   1501462

In [62]:
vac_v1 = pd.read_csv('data/corona_data/Covid19Vaccine.csv', index_col=0)
vac_v1.head(5)

,sido,firstCnt,secondCnt,totalFirstCnt,totalSecondCnt,accumulatedFirstCnt,accumulatedSecondCnt,id,thirdCnt,totalThirdCnt,accumulatedThirdCnt
baseDate,,,,,,,,,,,
2022-11-09 00:00:00,제주특별자치도,6.0,5.0,591064,585442.0,591058,585437.0,10176,38.0,439144.0,439106.0
2022-11-09 00:00:00,전국,175.0,224.0,45123225,44693321.0,45123050,44693097.0,10159,1678.0,33673146.0,33671468.0
2022-11-09 00:00:00,서울특별시,28.0,43.0,8335326,8257811.0,8335298,8257768.0,10160,482.0,6076911.0,6076429.0
2022-11-09 00:00:00,부산광역시,8.0,14.0,2879908,2851376.0,2879900,2851362.0,10161,136.0,2140909.0,2140773.0
2022-11-09 00:00:00,대구광역시,8.0,8.0,2018612,1995791.0,2018604,1995783.0,10162,56.0,1405219.0,1405163.0

In [63]:
vac_v1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10158 entries, 2022-11-09 00:00:00 to 2021-03-11 00:00:00
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   sido                  10158 non-null  object
 1   firstCnt              9839 non-null   float64
 2   secondCnt             9339 non-null   float64
 3   totalFirstCnt         10158 non-null  int64
 4   totalSecondCnt        9867 non-null   float64
 5   accumulatedFirstCnt   10158 non-null  int64
 6   accumulatedSecondCnt  9851 non-null   float64
 7   id                    10158 non-null  int64
 8   thirdCnt              6191 non-null   float64
 9   totalThirdCnt         6261 non-null   float64
 10  accumulatedThirdCnt   6243 non-null   float64
dtypes: float64(7), int64(3), object(1)
memory usage: 952.3+ KB

- 백신 데이터 광역시도명이 기 수집한 데이터의 광역시도명과 다르기때문에
    - 백신 데이터를 변경 후 파일 저장

In [66]:
# 원본 data 추출 : 중복 없이 추출
vac_v1[['sido']].drop_duplicates()['sido']

baseDate
2022-11-09 00:00:00    제주특별자치도
2022-11-09 00:00:00         전국
2022-11-09 00:00:00      서울특별시
2022-11-09 00:00:00      부산광역시
2022-11-09 00:00:00      대구광역시
2022-11-09 00:00:00      광주광역시
2022-11-09 00:00:00      인천광역시
2022-11-09 00:00:00      대전광역시
2022-11-09 00:00:00        경기도
2022-11-09 00:00:00    세종특별자치시
2022-11-09 00:00:00       경상남도
2022-11-09 00:00:00       경상북도
2022-11-09 00:00:00       전라남도
2022-11-09 00:00:00       전라북도
2022-11-09 00:00:00       충청남도
2022-11-09 00:00:00       충청북도
2022-11-09 00:00:00        강원도
2022-11-09 00:00:00      울산광역시
2021-04-26 00:00:00         기타
Name: sido, dtype: object

In [69]:
before = [ sido for sido in vac_v1[['sido']].drop_duplicates()['sido']]
before.sort()
before.remove('기타')
print(before)

['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시', '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전국', '전라남도', '전라북도', '제주특별자치도', '충청남도', '충청북도']

In [77]:
pop['loc'] # 시리즈

0     전국
1     서울
2     부산
3     대구
4     인천
5     광주
6     대전
7     울산
8     세종
9     경기
10    강원
11    충북
12    충남
13    전북
14    전남
15    경북
16    경남
17    제주
Name: loc, dtype: object

In [79]:
after = [sido for sido in pop['loc']]
after.sort()
print(after)

['강원', '경기', '경남', '경북', '광주', '대구', '대전', '부산', '서울', '세종', '울산', '인천', '전국', '전남', '전북', '제주', '충남', '충북']

In [80]:
for i in range(0, len(after)) :
    vac_v1['sido'] = vac_v1['sido'].replace(before[i], after[i])

In [81]:
vac_v1.head(50)

,sido,firstCnt,secondCnt,totalFirstCnt,totalSecondCnt,accumulatedFirstCnt,accumulatedSecondCnt,id,thirdCnt,totalThirdCnt,accumulatedThirdCnt
baseDate,,,,,,,,,,,
2022-11-09 00:00:00,제주,6.0,5.0,591064,585442.0,591058,585437.0,10176,38.0,439144.0,439106.0
2022-11-09 00:00:00,전국,175.0,224.0,45123225,44693321.0,45123050,44693097.0,10159,1678.0,33673146.0,33671468.0
2022-11-09 00:00:00,서울,28.0,43.0,8335326,8257811.0,8335298,8257768.0,10160,482.0,6076911.0,6076429.0
2022-11-09 00:00:00,부산,8.0,14.0,2879908,2851376.0,2879900,2851362.0,10161,136.0,2140909.0,2140773.0
2022-11-09 00:00:00,대구,8.0,8.0,2018612,1995791.0,2018604,1995783.0,10162,56.0,1405219.0,1405163.0
2022-11-09 00:00:00,광주,6.0,6.0,1261987,1250574.0,1261981,1250568.0,10163,29.0,968976.0,968947.0
2022-11-09 00:00:00,인천,8.0,8.0,2574241,2550089.0,2574233,2550081.0,10164,99.0,1915365.0,1915266.0
2022-11-09 00:00:00,대전,6.0,1.0,1245479,1233377.0,1245473,1233376.0,10165,40.0,909142.0,909102.0
2022-11-09 00:00:00,경기,54.0,54.0,11837228,11723312.0,11837174,11723258.0,10167,476.0,8708303.0,8707827.0
2022-11-09 00:00:00,세종,0.0,4.0,300568,296863.0,300568,296859.0,10168,3.0,211098.0,211095.0
2022-11-09 00:00:00,경남,13.0,16.0,2882836,2853771.0,2882823,2853755.0,10175,97.0,2145749.0,2145652.0
2022-11-09 00:00:00,경북,5.0,9.0,2293230,2269602.0,2293225,2269593.0,10174,52.0,1727240.0,1727188.0
2022-11-09 00:00:00,전남,7.0,9.0,1655640,1641357.0,1655633,1641348.0,10173,23.0,1365268.0,1365245.0
2022-11-09 00:00:00,전북,3.0,10.0,1593953,1581101.0,1593950,1581091.0,10172,23.0,1285790.0,1285767.0
2022-11-09 00:00:00,충남,7.0,8.0,1902015,1884592.0,1902008,1884584.0,10171,36.0,1479772.0,1479736.0
2022-11-09 00:00:00,충북,11.0,18.0,1430888,1418462.0,1430877,1418444.0,10170,20.0,1108528.0,1108508.0
2022-11-09 00:00:00,강원,1.0,7.0,1352086,1340877.0,1352085,1340870.0,10169,44.0,1065187.0,1065143.0
2022-11-09 00:00:00,울산,4.0,4.0,968164,958924.0,968160,958920.0,10166,24.0,720545.0,720521.0
2022-11-08 00:00:00,대전,5.0,4.0,1245467,1233370.0,1245462,1233366.0,10148,46.0,909106.0,909060.0
2022-11-08 00:00:00,울산,2.0,1.0,968226,958984.0,968224,958983.0,10147,44.0,720567.0,720523.0
2022-11-08 00:00:00,인천,14.0,13.0,2574190,2550037.0,2574176,2550024.0,10146,174.0,1915222.0,1915048.0
2022-11-08 00:00:00,광주,2.0,2.0,1261993,1250579.0,1261991,1250577.0,10145,38.0,968952.0,968914.0
2022-11-08 00:00:00,대구,6.0,7.0,2018618,1995797.0,2018612,1995790.0,10144,83.0,1405176.0,1405093.0
2022-11-08 00:00:00,부산,8.0,8.0,2879867,2851325.0,2879859,2851317.0,10143,150.0,2140730.0,2140580.0
2022-11-08 00:00:00,서울,43.0,50.0,8335466,8257937.0,8335423,8257887.0,10142,655.0,6076577.0,6075922.0
2022-11-08 00:00:00,전국,173.0,172.0,45122937,44692975.0,45122764,44692803.0,10141,2261.0,33671281.0,33669020.0
2022-11-08 00:00:00,세종,3.0,2.0,300534,296823.0,300531,296821.0,10149,8.0,211063.0,211055.0
2022-11-08 00:00:00,경기,51.0,44.0,11837075,11723148.0,11837024,11723104.0,10150,666.0,8707688.0,8707022.0
2022-11-08 00:00:00,전북,3.0,5.0,1593916,1581055.0,1593913,1581050.0,10154,41.0,1285724.0,1285683.0
2022-11-08 00:00:00,제주,1.0,4.0,591058,585438.0,591057,585434.0,10158,33.0,439106.0,439073.0
2022-11-08 00:00:00,경남,10.0,11.0,2882844,2853777.0,2882834,2853766.0,10157,102.0,2145661.0,2145559.0
2022-11-08 00:00:00,경북,6.0,5.0,2293183,2269555.0,2293177,2269550.0,10156,58.0,1727160.0,1727102.0
2022-11-08 00:00:00,전남,6.0,2.0,1655623,1641342.0,1655617,1641340.0,10155,47.0,1365237.0,1365190.0
2022-11-08 00:00:00,충남,6.0,5.0,1901959,1884539.0,1901953,1884534.0,10153,55.0,1479706.0,1479651.0
2022-11-08 00:00:00,충북,2.0,5.0,1430831,1418399.0,1430829,1418394.0,10152,23.0,1108465.0,1108442.0
2022-11-08 00:00:00,강원,5.0,4.0,1352087,1340870.0,1352082,1340866.0,10151,38.0,1065141.0,1065103.0
2022-11-07 00:00:00,대전,0.0,0.0,1245428,1233334.0,1245428,1233334.0,10130,0.0,909032.0,909032.0
2022-11-07 00:00:00,울산,0.0,0.0,968161,958920.0,968161,958920.0,10129,0.0,720480.0,720480.0
2022-11-07 00:00:00,인천,0.0,0.0,2574131,2549979.0,2574131,2549979.0,10128,4.0,1915014.0,1915010.0
2022-11-07 00:00:00,광주,0.0,0.0,1261998,1250584.0,1261998,1250584.0,10127,2.0,968920.0,968918.0
2022-11-07 00:00:00,대구,0.0,0.0,2018578,1995756.0,2018578,1995756.0,10126,0.0,1405073.0,1405073.0
2022-11-07 00:00:00,부산,0.0,0.0,2879854,2851310.0,2879854,2851310.0,10125,7.0,2140567.0,2140560.0
2022-11-07 00:00:00,서울,1.0,0.0,8335290,8257755.0,8335289,8257755.0,10124,9.0,6075805.0,6075796.0
2022-11-07 00:00:00,전국,2.0,0.0,45122610,44692654.0,45122608,44692654.0,10123,38.0,33668884.0,33668846.0
2022-11-07 00:00:00,세종,0.0,0.0,300552,296842.0,300552,296842.0,10131,0.0,211071.0,211071.0
2022-11-07 00:00:00,경기,1.0,0.0,11837068,11723153.0,11837067,11723153.0,10132,15.0,8707047.0,8707032.0
2022-11-07 00:00:00,제주,0.0,0.0,591055,585433.0,591055,585433.0,10140,0.0,439071.0,439071.0
2022-11-07 00:00:00,경남,0.0,0.0,2882879,2853813.0,2882879,2853813.0,10139,0.0,2145589.0,2145589.0
2022-11-07 00:00:00,경북,0.0,0.0,2293246,2269619.0,2293246,2269619.0,10138,0.0,1727144.0,1727144.0
2022-11-07 00:00:00,전남,0.0,0.0,1655598,1641318.0,1655598,1641318.0,10137,0.0,1365173.0,1365173.0

- 2022-01-18 에 해당하는 data를 vac_v1에서 추출

In [97]:
cal_std_day(365*3)

'2022-01-18'

In [90]:
# T/F를 이용한 논리 indexing
# loc에 논리 인덱싱 행 index만 구성하면 레코드를 추출
finVac = vac_v1.loc[vac_v1.index.str.contains(cal_std_day(365*3)]
finVac.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18 entries, 2022-01-18 00:00:00 to 2022-01-18 00:00:00
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   sido                  18 non-null     object
 1   firstCnt              18 non-null     float64
 2   secondCnt             18 non-null     float64
 3   totalFirstCnt         18 non-null     int64
 4   totalSecondCnt        18 non-null     float64
 5   accumulatedFirstCnt   18 non-null     int64
 6   accumulatedSecondCnt  18 non-null     float64
 7   id                    18 non-null     int64
 8   thirdCnt              18 non-null     float64
 9   totalThirdCnt         18 non-null     float64
 10  accumulatedThirdCnt   18 non-null     float64
dtypes: float64(7), int64(3), object(1)
memory usage: 1.7+ KB

In [92]:
finVac.head()

,sido,firstCnt,secondCnt,totalFirstCnt,totalSecondCnt,accumulatedFirstCnt,accumulatedSecondCnt,id,thirdCnt,totalThirdCnt,accumulatedThirdCnt
baseDate,,,,,,,,,,,
2022-01-18 00:00:00,광주,523.0,2469.0,1247764,1220758.0,1247241,1218289.0,5648,11353.0,682394.0,671041.0
2022-01-18 00:00:00,울산,382.0,2280.0,956895,933311.0,956513,931031.0,5647,9470.0,476692.0,467222.0
2022-01-18 00:00:00,인천,985.0,3663.0,2532911,2484196.0,2531926,2480533.0,5646,23198.0,1330273.0,1307075.0
2022-01-18 00:00:00,대전,422.0,2197.0,1231435,1203724.0,1231013,1201527.0,5645,10221.0,628469.0,618248.0
2022-01-18 00:00:00,대구,893.0,4524.0,1997407,1945813.0,1996514,1941289.0,5644,15716.0,978794.0,963078.0

In [93]:
# 레코드 추출 - iloc[위치값]
finVac.iloc[4]

sido                           대구
firstCnt                    893.0
secondCnt                  4524.0
totalFirstCnt             1997407
totalSecondCnt          1945813.0
accumulatedFirstCnt       1996514
accumulatedSecondCnt    1941289.0
id                           5644
thirdCnt                  15716.0
totalThirdCnt            978794.0
accumulatedThirdCnt      963078.0
Name: 2022-01-18 00:00:00, dtype: object

#### Json 구성

In [91]:
# hdfs에 저장할 data
cols = ['loc', 'v1', 'v2', 'v3']
data = []

In [95]:
for idx in range(0, len(finVac.index)) :
    tuple_t=[]
    tmp = finVac.iloc[idx]
    tuple_t.append(str(tmp.sido))
    tuple_t.append(str(tmp.totalFirstCnt))
    tuple_t.append(str(tmp.totalSecondCnt))
    tuple_t.append(str(tmp.thirdCnt))
    # print(tuple_t)
    data.append(dict(zip(cols,tuple_t)))

In [96]:
# 실제 data
data

[{'loc': '광주', 'v1': '1247764', 'v2': '1220758.0', 'v3': '11353.0'},
 {'loc': '울산', 'v1': '956895', 'v2': '933311.0', 'v3': '9470.0'},
 {'loc': '인천', 'v1': '2532911', 'v2': '2484196.0', 'v3': '23198.0'},
 {'loc': '대전', 'v1': '1231435', 'v2': '1203724.0', 'v3': '10221.0'},
 {'loc': '대구', 'v1': '1997407', 'v2': '1945813.0', 'v3': '15716.0'},
 {'loc': '부산', 'v1': '2849093', 'v2': '2788089.0', 'v3': '22579.0'},
 {'loc': '서울', 'v1': '8239400', 'v2': '8090244.0', 'v3': '70311.0'},
 {'loc': '전국', 'v1': '44505276', 'v2': '43582128.0', 'v3': '384948.0'},
 {'loc': '세종', 'v1': '290455', 'v2': '282507.0', 'v3': '2330.0'},
 {'loc': '경기', 'v1': '11652853', 'v2': '11414202.0', 'v3': '104972.0'},
 {'loc': '제주', 'v1': '580579', 'v2': '566811.0', 'v3': '4782.0'},
 {'loc': '경남', 'v1': '2848083', 'v2': '2783896.0', 'v3': '22358.0'},
 {'loc': '경북', 'v1': '2260963', 'v2': '2202814.0', 'v3': '18629.0'},
 {'loc': '전남', 'v1': '1632045', 'v2': '1602479.0', 'v3': '14141.0'},
 {'loc': '전북', 'v1': '1574779', 'v2': '1547262.0', 'v3': '14177.0'},
 {'loc': '충남', 'v1': '1870124', 'v2': '1830143.0', 'v3': '16536.0'},
 {'loc': '충북', 'v1': '1408620', 'v2': '1379378.0', 'v3': '12355.0'},
 {'loc': '강원', 'v1': '1331870', 'v2': '1306501.0', 'v3': '11820.0'}]

In [98]:
# data를 설명하는 메타 데이터 포함한 최종 결과 생성
res = {
    'meta' : {
        'desc':'지역별 코로나 예방접종 인구 현황',
        'cols':{
            'loc':'지역'
            ,'v1':'1차 접종 누적'
            ,'v2':'2차 접종 누적'
            ,'v3':'3차 접종 누적'
        },
        'stdDay':cal_std_day(365*3)
    },
    'data':data
}

In [99]:
res

{'meta': {'desc': '지역별 코로나 예방접종 인구 현황',
  'cols': {'loc': '지역', 'v1': '1차 접종 누적', 'v2': '2차 접종 누적', 'v3': '3차 접종 누적'},
  'stdDay': '2022-01-18'},
 'data': [{'loc': '광주', 'v1': '1247764', 'v2': '1220758.0', 'v3': '11353.0'},
  {'loc': '울산', 'v1': '956895', 'v2': '933311.0', 'v3': '9470.0'},
  {'loc': '인천', 'v1': '2532911', 'v2': '2484196.0', 'v3': '23198.0'},
  {'loc': '대전', 'v1': '1231435', 'v2': '1203724.0', 'v3': '10221.0'},
  {'loc': '대구', 'v1': '1997407', 'v2': '1945813.0', 'v3': '15716.0'},
  {'loc': '부산', 'v1': '2849093', 'v2': '2788089.0', 'v3': '22579.0'},
  {'loc': '서울', 'v1': '8239400', 'v2': '8090244.0', 'v3': '70311.0'},
  {'loc': '전국', 'v1': '44505276', 'v2': '43582128.0', 'v3': '384948.0'},
  {'loc': '세종', 'v1': '290455', 'v2': '282507.0', 'v3': '2330.0'},
  {'loc': '경기', 'v1': '11652853', 'v2': '11414202.0', 'v3': '104972.0'},
  {'loc': '제주', 'v1': '580579', 'v2': '566811.0', 'v3': '4782.0'},
  {'loc': '경남', 'v1': '2848083', 'v2': '2783896.0', 'v3': '22358.0'},
  {'loc': '경북', 'v1': '2260963', 'v2': '2202814.0', 'v3': '18629.0'},
  {'loc': '전남', 'v1': '1632045', 'v2': '1602479.0', 'v3': '14141.0'},
  {'loc': '전북', 'v1': '1574779', 'v2': '1547262.0', 'v3': '14177.0'},
  {'loc': '충남', 'v1': '1870124', 'v2': '1830143.0', 'v3': '16536.0'},
  {'loc': '충북', 'v1': '1408620', 'v2': '1379378.0', 'v3': '12355.0'},
  {'loc': '강원', 'v1': '1331870', 'v2': '1306501.0', 'v3': '11820.0'}]}

In [100]:
file_dir_vac = '/corona_data/vaccine/'
file_name = 'corona_vaccine_'+cal_std_day(365*3)+'.json'
client.write(file_dir_vac+file_name,json.dumps(res, ensure_ascii=False),encoding='utf-8')

In [101]:
# spark 모듈(read.json) : df로 지연연산
file_dir_vac = '/corona_data/vaccine/'
file_name = 'corona_vaccine_'+cal_std_day(365*3)+'.json'
vaccine=spark.read.json(file_dir_vac+file_name)
vaccine.show()

[Stage 1:>                                                          (0 + 1) / 1]

+----------------------+---------------------------+
|                  data|                       meta|
+----------------------+---------------------------+
|[{광주, 1247764, 12...|{{지역, 1차 접종 누적, 2...|
+----------------------+---------------------------+

In [ ]:
### 파일 읽어오기
vac_v1 = pd.read_csv('data/corona_data/Covid19VaccineV2.csv',index_col=0)

In [ ]:
# 전체 코드
cols = ['loc', 'v1', 'v2', 'v3']
data = []
finVac = vac_v1.loc[vac_v1.index.str.contains(cal_std_day(365*3)]

for idx in range(0, len(finVac.index)) :
    tuple_t=[]
    tmp = finVac.iloc[idx]
    tuple_t.append(str(tmp.sido))
    tuple_t.append(str(tmp.totalFirstCnt))
    tuple_t.append(str(tmp.totalSecondCnt))
    tuple_t.append(str(tmp.thirdCnt))
    # print(tuple_t)
    data.append(dict(zip(cols,tuple_t)))

res = {
    'meta' : {
        'desc':'지역별 코로나 예방접종 인구 현황',
        'cols':{
            'loc':'지역'
            ,'v1':'1차 접종 누적'
            ,'v2':'2차 접종 누적'
            ,'v3':'3차 접종 누적'
        },
        'stdDay':cal_std_day(365*3)
    },
    'data':data
}    

file_dir_vac = '/corona_data/vaccine/'
file_name = 'corona_vaccine_'+cal_std_day(365*3)+'.json'
client.write(file_dir_vac+file_name,json.dumps(res, ensure_ascii=False),encoding='utf-8')

In [104]:
# 연습용 파일 생성 -> hdfs에 저장
for i in range(365*3, 367*3) :
    print(cal_std_day(i))
    cols = ['loc', 'v1', 'v2', 'v3']
    data = []
    finVac = vac_v1.loc[vac_v1.index.str.contains(cal_std_day(i))]
    
    for idx in range(0, len(finVac.index)) :
        tuple_t=[]
        tmp = finVac.iloc[idx]
        tuple_t.append(str(tmp.sido))
        tuple_t.append(str(tmp.totalFirstCnt))
        tuple_t.append(str(tmp.totalSecondCnt))
        tuple_t.append(str(tmp.thirdCnt))
        # print(tuple_t)
        data.append(dict(zip(cols,tuple_t)))
    
    res = {
        'meta' : {
            'desc':'지역별 코로나 예방접종 인구 현황',
            'cols':{
                'loc':'지역'
                ,'v1':'1차 접종 누적'
                ,'v2':'2차 접종 누적'
                ,'v3':'3차 접종 누적'
            },
            'stdDay':cal_std_day(365*3)
        },
        'data':data
    }    
    try : 
        file_dir_vac = '/corona_data/vaccine/'
        file_name = 'corona_vaccine_'+cal_std_day(i)+'.json'
        client.write(file_dir_vac+file_name,json.dumps(res, ensure_ascii=False),encoding='utf-8')
    except Exception as e :
        log_dict = {
            'type':'/corona_data/vaccine/'
            ,'err_msg':e.__str__()}
        log_json = json.dumps(log_dict, ensure_ascii=False)
        co_logger.error(log_json)

ERROR:corona_api:{"type": "/corona_data/vaccine/", "err_msg": "/corona_data/vaccine/corona_vaccine_2022-01-18.json for client 127.0.0.1 already exists\n\tat org.apache.hadoop.hdfs.server.namenode.FSDirWriteFileOp.startFile(FSDirWriteFileOp.java:388)\n\tat org.apache.hadoop.hdfs.server.namenode.FSNamesystem.startFileInt(FSNamesystem.java:2819)\n\tat org.apache.hadoop.hdfs.server.namenode.FSNamesystem.startFile(FSNamesystem.java:2713)\n\tat org.apache.hadoop.hdfs.server.namenode.NameNodeRpcServer.create(NameNodeRpcServer.java:830)\n\tat org.apache.hadoop.hdfs.protocolPB.ClientNamenodeProtocolServerSideTranslatorPB.create(ClientNamenodeProtocolServerSideTranslatorPB.java:504)\n\tat org.apache.hadoop.hdfs.protocol.proto.ClientNamenodeProtocolProtos$ClientNamenodeProtocol$2.callBlockingMethod(ClientNamenodeProtocolProtos.java)\n\tat org.apache.hadoop.ipc.ProtobufRpcEngine2$Server$ProtoBufRpcInvoker.call(ProtobufRpcEngine2.java:621)\n\tat org.apache.hadoop.ipc.ProtobufRpcEngine2$Server$ProtoBufRpcInvoker.call(ProtobufRpcEngine2.java:589)\n\tat org.apache.hadoop.ipc.ProtobufRpcEngine2$Server$ProtoBufRpcInvoker.call(ProtobufRpcEngine2.java:573)\n\tat org.apache.hadoop.ipc.RPC$Server.call(RPC.java:1227)\n\tat org.apache.hadoop.ipc.Server$RpcCall.run(Server.java:1246)\n\tat org.apache.hadoop.ipc.Server$RpcCall.run(Server.java:1169)\n\tat java.base/java.security.AccessController.doPrivileged(Native Method)\n\tat java.base/javax.security.auth.Subject.doAs(Subject.java:423)\n\tat org.apache.hadoop.security.UserGroupInformation.doAs(UserGroupInformation.java:1953)\n\tat org.apache.hadoop.ipc.Server$Handler.run(Server.java:3203)\n"}

2022-01-18
2022-01-17
2022-01-16
2022-01-15
2022-01-14
2022-01-13